
.counter {
    margin-top: 9vh;
}

.btn_minus{
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 5vh;
    border-radius: 6px;
    margin-right: 7vh;
    width: 8vh;
    height: 7vh;
}

.btn_plus{
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 4vh;
    border-radius: 6px;
    width: 8vh;
    height: 7vh;
}

.btn_clear{
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 3vh;
    border-radius: 6px;
    margin-right: 50px;
    height: 8vh;
    padding: 1vh 4vh;
    margin: 6vh auto;
}
