@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.h1 {
  color: white;
  font-size: 5vh;
}

.p {
  font-size: 3vh;
  color: white;
  margin-top: 8vh;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0;
}
:root {
  --home-height: 65vh;
  --home-width: calc(var(--home-height) / 1.5);
}

.home {
  background: #191c29;
  width: var(--home-width);
  height: var(--home-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  margin: 16vh auto;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
}

.home::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.home::after {
  position: absolute;
  content: "";
  top: calc(var(--home-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--home-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
